<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngFor="let item of menuItems" mat-menu-item [routerLink]="[item.href]">
      <span>{{item.name}}</span>
    </button>
  </mat-menu>
  <button mat-button [routerLink]="['/']">{{title | uppercase}}</button>
  <!--<button mat-button *ngFor="let item of menuItems" [routerLink]="[item.href]">{{item.name}}</button>-->
</mat-toolbar>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="footer">
  <!-- Copyright -->
  <div class="text-center py-3">Tomáš Vyleta, © {{this.today | date:'YYYY'}} Copyright:
    <a href="https://github.com/vyletat"> GitHub</a>
  </div>
</footer>

