<!-- Hash card -->
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Hash example</mat-card-title>
    <mat-card-subtitle>
      <!-- Hash function -->
      <mat-form-field appearance="legacy">
        <mat-label>Hash function</mat-label>
        <mat-select [id]="'hashFunction-input'" [(ngModel)]="hashFunction" (ngModelChange)="dataChanged()">
          <mat-option *ngFor="let hash of getHasFunctions()" [value]="hash">
            {{hash}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="mx-4">
    <!-- Data -->
    <div class="row w-100">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Data</mat-label>
        <textarea matInput [id]="'data-input'" rows="6" [(ngModel)]="data" (ngModelChange)="dataChanged()"></textarea>
      </mat-form-field>
    </div>

    <!-- Hash -->
    <div class="row w-100">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Hash</mat-label>
        <input matInput [id]="'hash-output'" [readonly]="true" [type]="'text'" [value]="hashCard.hash">
      </mat-form-field>
    </div>

  </mat-card-content>

  <mat-card-actions>
  </mat-card-actions>
</mat-card>
